@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


html {
  height: 100%;
}


.constructs {
  position: relative;
  left: 170px;
  font-family: "Barlow Condensd", sans-serif;
  color: var(--background);
}

.transcendants {
  margin-top: 50px;
  text-align: center;
  position: relative;
  font-family: "Barlow Condensd", sans-serif;
  color: var(--background);
}

.character-heading {
  text-align: center;
  font-size: 2.5em;
  color: white;
}

#char-section1 {
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 60px;
  padding: 40px;
  height: 380%;
  background-color: rgba(115, 115, 151, 1);
}


.icon-text {
  font-weight: 100;
  font-size: 1.5em;
}

.center {
    text-align: center;
    color: black;
}

body {
  width: 100%;
  height: 100%;
	margin: 0;
  background-size: 100%;
  background-repeat: repeat;
  background-image: url("Images/Home Page Images/pgr-homepage-background.jpg")
}



.site-logo {
  height: 80px;
  width: 145px;
}




:root {
  --background: rgb(56, 47, 83);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.char-img {
  height: 248px;
  width: 240px;
  margin-right: 80px;
  border: 2px solid  rgb(87, 87, 114);
}

.character-img {
  text-align: center;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  margin-left: 35px;
  margin-right: 50px;
}

#section1-char {
  height: 1900%;
  background-color: rgba(115, 115, 151, 1);
}

#section2-char {
  height: 260%;
  background-color: rgba(115, 115, 151, 1);
}


.home {
  margin-top: 30px;
  margin-bottom: -20px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: "Barlow Condensed",sans-serif;
}


.description {
  margin-top: 7%;
  padding: 15px;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 50;
  font-size: 1.25em;
  color: white;
  text-align: center;
}

.about {
  height: 100%;
  margin-top: 3.5%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 50;
  font-size: 1.75em;
  color: white;
}

.about-text {
  padding: 50px;
  text-align: center;
  font-size: 0.68em;
}

.about-heading{
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;
}

.char-type {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2em;
  color: white;
}

.constructs-home {
  position: absolute;
  top: 1410px;
  left: 75px;
  color: white;
  font-size: 0.8em;
}

.constructs-home-description {
  position: absolute;
  top: 1450px;
  left: 75px;
  text-align: left;
  color: white;
  font-size: 0.5em;
}

.transcendants-home {
  position: absolute;
  top: 1570px;
  left: 75px;
  color: white;
  font-size: 0.8em;
}

.transcendants-home-description {
  position: absolute;
  top: 1610px;
  left: 75px;
  text-align: left;
  color: white;
  font-size: 0.5em;
}

#section1 {
  height: 30%;
  background-color: rgba(115, 115, 151, 1);
}

#section2 {
  height: 170%;
  background-color: rgba(115, 115, 151, 1);
}

#section3 {
  margin-top: 5%;
  height: 70%;
  background-color: rgba(115, 115, 151, 1);
}

.construct-description {
  margin-top: 10%;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 50;
  font-size: 1.75em;
  color: white;
}



/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
}

.nav-toggle {
  position: absolute;
  top: -9999px ;
  left: -9999px ;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (max-width: 768px) {
  .character-img {
    margin-bottom: -5%;
    padding: 1%;
  }

  .char-img {
    height: 310px;
    width: 270px;
    margin-top: 40px;
    margin-left: 66px;
    margin-bottom: -10px;
    border: 5px solid  rgb(87, 87, 114); 
  }
  
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .site-logo {
    width: 210px;
    height: 110px;
    grid-column: 3 / 4;
  }
  
  nav {
    all: unset; 
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -.6em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  .char-img {
    height: 310px;
    width: 270px;
    margin: 20px;
    border: 5px solid  rgb(87, 87, 114); 
  }

  .character-img {
    padding: 4%;
    background-color: rgba(115, 115, 151, 1);
    font-family: "Barlow Condensed", sans-serif;
    color: white;
  }
  
  .char-name {
    color: white;

  }

  #section1-char {
    height: 405%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 4%;
    background-color: rgba(115, 115, 151, 1);
  }

  #section2-char {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 10%;
    height: 66%;
    background-color: rgba(115, 115, 151, 1);
  }

  .constructs {
    position: absolute;
    top: 110px;
    left: 75px;
    font-family: "Barlow Condensd", sans-serif;
    color: var(--background);
  }

  .transcendants {
    position: absolute;
    top: 3260px;
    left: 75px;
    font-family: "Barlow Condensd", sans-serif;
    color: var(--background);
  }

  .flex-container {

    height: auto;;
    margin-top: -10%;
    margin-left: 5%;
  }


  
  .flex-container > div {
    width: 40%;
    height: 100%;
    margin-top: 20%;
    margin-left: 80px;
    margin-right: 50%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(115, 115, 151, 1);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 50;
    font-size: 1.75em;
    color: white;
  }

  .home {
    margin-top: 30px;
    margin-left: 80px;
    color: white;
    text-align: left;
    font-size: 3em;
    font-family: "Barlow Condensed",sans-serif;
  }

  .description {
    width: 40%;
    margin-top: 3%;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: -20%;
    padding: 10px;
    background-color: rgba(115, 115, 151, 1);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 50;
    font-size: 1.75em;
    color: white;
    text-align: center;
  }
  
  .about {
    margin-top: 44.5%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(115, 115, 151, 1);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 50;
    font-size: 1.75em;
    color: white;
  }
  
  .about-text {
    padding: 50px;
    text-align: left;
  }
  
  .about-heading{
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2em;
  }
  
  #section1 {
    height: 35%;
    background-color: rgba(115, 115, 151, 1);
  }
  
  #section2 {
    height: 60%;
    background-color: rgba(115, 115, 151, 1);
  }

  #section3 {
    margin-top: 5%;
    height: 60%;
    background-color: rgba(115, 115, 151, 1);
  }

  .char-type {
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    color: white;
  }

  .constructs-home {
    position: absolute;
    top: 1410px;
    left: 75px;
    color: white;
    font-size: 0.8em;
  }

  .constructs-home-description {
    position: absolute;
    top: 1480px;
    left: 75px;
    text-align: left;
    color: white;
    font-size: 0.5em;
  }

  .transcendants-home {
    position: absolute;
    top: 1570px;
    left: 75px;
    color: white;
    font-size: 0.8em;
  }

  .transcendants-home-description {
    position: absolute;
    top: 1640px;
    left: 75px;
    text-align: left;
    color: white;
    font-size: 0.5em;
  }

  .footer-col{
    width: 100%;
}
.coating-img{
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
}

.ability-img {
  margin-bottom: 50px;
  text-align: left;
}

.ability-title {
  color: black;
  font-size: 0.8em;
  margin-top: 10%;
  padding-left: 300px;
}
.ability-text {
  text-align: left;
  color: #000;
  margin-top: 5%;
  font-size: 0.4em;
}


.skills {
  text-align: left;
  margin-top: 10%;
}

.character-portrait {
  padding: 4%;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  text-align: left;
}

.char-portrait {
  text-align: left;
  height: 390px;
  width: 360px;
  margin: 20px;
  border: 5px solid var(--background);
}



.biography-title {
  text-align: center;
  margin-top: -24%;
  margin-left: 50%;
  background-color: var(--background);
}

.biography-text {
  margin-top: 1%;
  margin-left: 50%;
  font-size: 0.5em;
  text-align: left;
}

.coatings-title {
  text-align: left;
  margin-top: 5%;
}
/*character page styles*/
.tab {
  width:63%;
  overflow: hidden;
  border: 1px solid black;
  background-color: rgba(115, 115, 151, 1);
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  background-color: inherit;
  display: none;
  padding: 20px;
  border: 1px solid inherit
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

#char-section1 {
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 60px;
  padding: 40px;
  height: 210%;
  background-color: rgba(115, 115, 151, 1);
}
}

/*Footer styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--background);
    padding: 70px 0;
  margin-top: 6%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
  background-color: rgba(115, 115, 151, 1);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*character page styles*/
.tab {
  width:100%;
  overflow: hidden;
  border: 2px solid var(--background);
  background-color: rgba(115, 115, 151, 1);
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  background-color: inherit;
  display: none;
  padding: 20px;
  border: 1px solid inherit
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.coating-img{
  width: 70%;
  margin-bottom: 10px;
  text-align: center;
}

.ability-img {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
}

.ability-title {
  text-align: left;
  color: black;
  font-size: 0.6em;
  margin-top: -8%;
  margin-left: 9%;
}
.ability-text {
  text-align: center;
  color: #000;
  font-size: 0.35em;
}


.skills {
  text-align: center;
  margin-top: 10%;
}

.character-portrait {
  padding: 2%;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  text-align: left;
}

.char-portrait {
  text-align: center;
  height: 270px;
  width: 260px;
  margin: 20px;
  border: 5px solid var(--background);
}



.biography-title {
  text-align: center;
  background-color: var(--background);
}

.biography-text {
  margin-top: 5%;
  font-size: 0.45em;
  text-align: center;
}

.coatings-title {
  text-align: center;
  margin-top: 5%;
}