@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
.constructs {
  position: relative;
  left: 75px;
  font-family: "Barlow Condensd", sans-serif;
  color: var(--background);
}

.icon-text {
  font-weight: 100;
  font-size: 1.5em;
}

.center {
    text-align: center;
    color: black;
}


.container {
    position: relative;
}



section {
  color: black;
  height: 100%;
}
html {
  height: 100%;
}



body {
  width: 100%;
  height: 100%;
	margin: 0;
  background-size: 100%;
  background-repeat: repeat;
  background-image: url("Images/Home Page Images/pgr-homepage-background.jpg")
}

.site-logo {
  height: 80px;
  width: 145px;
}



@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgb(56, 47, 83);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.char-img {
  height: 258px;
  width: 250px;
  margin-left: 55px;
  margin-right: 80px;
  margin-bottom: 40px;
  border: 2px solid  rgb(87, 87, 114);
}

.character-img {
  padding: 30px;
  margin-top: 3%;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 50;
  font-size: 1.75em;
  color: white;
}



.flex-container {
	height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.flex-container > div {
  width: 40%;
  height: 100%;
  margin-top: 20%;
  margin-left: 80px;
  margin-right: 50%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(115, 115, 151, 1);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 50;
  font-size: 1.75em;
  color: white;
}



/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
}

.nav-toggle {
  position: absolute;
  top: -9999px ;
  left: -9999px ;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: bottom;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (max-width: 768px) {
  .character-img {
    flex-direction: column;
  }
  .flex-container > div {
    flex-direction: column;
    flex-wrap: wrap;
  }
  
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .site-logo {
    width: 210px;
    height: 110px;
    grid-column: 3 / 4;
  }
  
  nav {
    all: unset; 
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -.6em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  .char-img {
    height: 310px;
    width: 270px;
    margin: 20px;
    border: 5px solid  rgb(87, 87, 114); 
  }

  .character-img {
    padding: 2%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -5%;
    background-color: rgba(115, 115, 151, 1);
    font-family: "Barlow Condensed", sans-serif;
    color: white;
  }

  .constructs {
    position: absolute;
    top: 100px;
    left: 75px;
    font-family: "Barlow Condensd", sans-serif;
    color: var(--background);
  }


}









