@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
.center {
    text-align: center;
    color: black;
}
body {
    background-color: grey;
}
.container {
    position: relative;
}
.logo {
    position: absolute;
    top: 16px;
    left: 200px;
    
}
body {
  font-size: 100%;
}

.titleadjust {
  font-size: 1.9em;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.875em;


}

p {
  font-size: 0.875em;
}

